
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=IM+Fell+French+Canon:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sriracha&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet');
/*
Font options
Lato 
IM Fell French Canon
Ubuntu
Open Sans
Changa
Sriracha
*/

html {
  font-size: 16px; /* or 62.5% (equivalent to 10px) */
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0B2545  ;
  --secondary-color: #134074 ;
  --accent1-color: #9E2A2B;
  --accent2-color: #F1A66A;
  --accent3-color: #F1E0C5;

  /* change the values below to your chosen font(s) */
  --heading-font: "Changa", "sans-serif";
  --paragraph-font:  "Ubuntu", "sans-serif";
  --link-font: "lato", sans-serif   ;
  --title-font: "Sriracha", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  
  --headline-color-on-white: black;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color:  #F1E0C5 ;
  --nav-link-color: #134074;
  --nav-background-color: #F1A66A;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #9E2A2B;
  --shadow-color-blue: var(--primary-color)
}

#content {
  max-width: 1600px;
  max-height: 100px;
  text-align: center;
  margin: 0 auto ;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

h4{

}

nav {
  background-color: var(--nav-background-color);
  line-height: 3.2em;
  text-align: center;

  font-family: var(--link-font);
  font-weight: bold;
  font-size: 1.2em;

}

.msg h2{
  color: black;

}

.msg p{
  color: black;

}

.logo {
  width: 80px; /* Set width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin: 20px ;
  display: inline; /* Ensure it's treated as a block-level element */
  object-fit: cover; /* Ensure the image fits nicely within its container */
 
}

.icon {
  width: 80px;
  
  
}

.logo-bar{
  padding: 0;
  
  
}

.card-img{
  max-width: 30%;
  border: 10px solid black;
}

.nav-bar{

}

nav a{
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  min-width: 120px;
  padding-top: 17px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 19px;

}

.title{
font-family: var(--title-font);
display: inline;
font-size: 5em;
vertical-align:top;

}

#hero{
margin-bottom: 20px;
}

#hero-box{
  margin: 0 auto;
  text-align: center;
  padding: 20px;

}
#hero-img{
  width: 80%;
  box-shadow: 2px 2px 5px 6px #0B2545;

}

#hero-msg h1, #hero-msg h4{
  text-align: center;
}

.button-box{
  text-align: center;
}

main section{
  text-align: center;

}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: var(--paragraph-background-color);
}

body{
  background-color: var(--secondary-color); 
  margin: 0;
}

header{
  background-color: var(--paragraph-background-color);
  margin:  0;

}

nav a:hover{
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  box-shadow: 0 0 3px 2px black; /* box-shadow: <horizontal-offset> <vertical-offset> <blur-radius> <spread-radius> <color>; */

}

.book, .join{
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10%;
  text-decoration: none;
  font-size: 1.2em;
  font-family: var(--link-font);
  margin: 10px;


}
.book:hover, .join:hover{
  color: white;
  background-color: var(--nav-hover-background-color);
  border-radius: 10%;
  padding: 10px;
  text-decoration: none;
  box-shadow: 0 0 3px 3px var(--shadow-color-blue);
}

.plan-link{
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10%;
  text-decoration: none;
}

.plan-link:hover{
  color: white;
  background-color: var(--nav-hover-background-color);
  border-radius: 10%;
  padding: 10px;
  text-decoration: none;

}

.home-grid{
  margin-top: 10px;
}

.social{

}

.social-link{
  width: 60px;
}

#background{

}
.msg{

}
footer{
  color: black;

}

.home-title{

}

footer a{
  color: black;

}

footer a:hover{
  color: black;

}

footer p {
  font-size: 1.2em;
}    
 
footer p a:hover {
  text-decoration: underline;
} 

.general-text{
  color: var(--headline-color-on-color);
}
